<h1>Inbox</h1>

<a class="compose btn btn-default" href="#" role="button"  data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Compose Mail</a>

<span id="read-delete">
  <a class="compose btn btn-default btn-default" href="#"><i class="fa fa-times"></i> Delete</a> 
  <a class="compose btn btn-default btn-default" href="#"><i class="fa fa-check-square-o"></i> Mark as Read</a>
</span>




<table class="table table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Sender</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  
  <tbody>
    
    <tr>
      <td><input id="mark_all" class="marked" type="checkbox"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
      <% @dummy_mail.each do |mail| %>
    <tr class="unread-mail">
      <td>
          <input class="marked" type="checkbox">
      </td>
      <td>
      <a href="#"  data-toggle="modal" data-target="#modalMessage"><%= mail["Sender"] %></a>
      </td>
      <td>
        
        <div class="col-md-10 inside_table">
          <a href="#"  data-toggle="modal" data-target="#modalMessage" ><%= mail["Title"] %><small> - <%= mail["Excerpt"] %></small></a>
        </div>
        <div class="col-md-2">
          <% if rand(6) > 3 %>
          <i class="fa fa-paperclip"></i>
          <% end %>
          
        </div>
          
      </td>
      <td>25/01/2016</td>
    </tr>

    <% end %>

    <% @dummy_mail.each do |mail| %>

      <tr class="read-mail">
        <td>      <input class="marked" type="checkbox">  </td>
        <td><a href="#"  data-toggle="modal" data-target="#modalMessage"><%= mail["Sender"] %></a></td>
        <td>
          <div class="col-md-8 inside_table">
            <a href="#"  data-toggle="modal" data-target="#modalMessage" > <%= mail["Title"] %> <small> - <%= mail["Excerpt"] %></small></a>
          </div>
          <div class="col-md-4">
            <% if rand(2) > 0 %>
             <span class="label label-default">Replied</span>
            <% end %>
          </div>
        </td>
        <td>24/01/2016</td>
      </tr>

    <% end %>
   

  </tbody>
  
</table>

<%= erb :loading %>
<%= erb :modal_message %>