<h1>Outbox</h1>

<a class="compose btn btn-default" href="#" role="button"  data-toggle="modal" data-target="#myModal"><i class="fa fa-pencil"></i> Compose Mail</a>


<span id="read-delete">
  <a class="compose btn btn-default btn-default" href="#"><i class="fa fa-times"></i> Delete</a> 
           
</span>



<table class="table table-condensed">
  <thead>
    <tr>
      <th></th>
      <th>Recipient</th>
      <th>Title</th>
      <th>Date</th>
    </tr>
  </thead>
  <tr>
    <td><input id="mark_all" class="marked" type="checkbox"></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  <% @@outbox.each_with_index do |mail,i| %>
<tr class="read-mail" data-mail-index=<%="#{i}"%>><td>
      <input class="marked" type="checkbox">
  </td>
  <td>
  <a href="#" class="message_view_outbox" data-toggle="modal" data-target="#modalMessage" data-mail-index=<%="#{i}"%>><%= mail["Sender"] %></a>
  </td>
  <td>
    <div class="col-md-8 inside_table">

    <a href="#" class="message_view_outbox" data-toggle="modal" data-target="#modalMessage" data-mail-index=<%="#{i}"%>><%= mail["Title"] %><small> - <%= mail["Excerpt"] %></small></a>
    </div>

    <div class="col-md-4">
      <% if mail["Attachment"] != "" %>
        <i class="fa fa-paperclip"></i>
      <% end %>
    </div>
  </td>
  <td><%= mail["Date"] %></td>
</tr>

<% end %>

</table>
<%= erb :loading %>
<%= erb :modal_message %>