   
<div id="contacts-wrapper">
  

   <div class="container-fluid wrap">
       
        <h1>Contacts</h1>
            
        <a class="compose btn btn-default" href="#" role="button"  data-toggle="modal" data-target="#addContact">
            Add Contact
        </a>

        <span id="read-delete">
            <a class="compose btn btn-default btn-default" href="#"><i class="fa fa-times"></i> Delete</a> 
        </span>


        <table class="table table-condensed" id="contacts">
          
          <thead>
            <tr>
                <th > </th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th> </th>
                <th>Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>Phone</th>
                
            </tr>
        </tfoot>
        <tbody>

            <% @dummy_contact.each_with_index do |contact,i| %>
                <tr>
                    <td >
                        <input class="marked" type="checkbox">
                    </td>
                    <td>
                        <a href="#"  data-toggle="modal" data-target="#myModal" data-contact-index=<%="#{i}"%>>
                            <%= contact["Name"] %>
                        </a>
                    </td>
                    <td>
                        <a href="#"  data-toggle="modal" data-target="#myModal" data-contact-index=<%="#{i}"%>>
                            <%= contact["Email"] %>
                        </a>
                    </td>
                    <td>
                        <a href="#"  data-toggle="modal" data-target="#myModal" data-contact-index=<%="#{i}"%>>
                            <%= contact["Address"] %>
                        </a>
                    </td>
                    <td>
                        <a href="#"  data-toggle="modal" data-target="#myModal" data-contact-index=<%="#{i}"%>>
                            <%= contact["Phone"] %>
                        </a>
                    </td>
                </tr>
             <% end %>          
        </tbody>

        </table>
    </div>

<%= erb :modal_message %>