      <div id="sidebar">
          <ul>
              <li class=<%= "active" if @inbox_active%> >
                <a href="/inbox">Inbox <span id="inbox_counter" class="badge">5</span></a>
            </li>
            <li class=<%= "active" if @outbox_active%>>
                <a href="/outbox">Outbox </a>
            </li>
            <li class=<%= "active" if @draft_active%>>
                <a href="/draft">Drafts</a>
            </li>
            <li class=<%= "active" if @spam_active%>>
                <a href="/spam">Spam</a>
            </li>
            <li class=<%= "active" if @trash_active%>>
                <a href="/trash">Trash </a>
            </li>
          </ul>
      </div>
      <div class="main-content">
          <div class="swipe-area">

            <a href="#" data-toggle=".container-wrapper" id="sidebar-toggle">
              <i class="fa fa-angle-right"></i>
            </a>
          
          
          </div>


          <div class="content">
            <% if session && session["notification_message"] %>
            <div class="alert alert-success">
                <a id="clear_notification" href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <%= session["notification_message"] %>
            </div>
            <% end %>
             <%= erb :content_mail %>
         </div>
      </div>