<%= erb :sample_message %>
<%= erb :modal_create_contact %>
<%= erb :message_reply %>
<%= erb :message_forward %>
<%= erb :compose_message %>
<%= erb :message_sent %>

<!-- Modal add recipient -->

<div class="modal fade" id="myModalAddRecipient" tabindex="-1" role="dialog" aria-labelledby="myModalLabelAddRecipient">

  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabelAddRecipient">Add Recipient</h4>
      </div>
      <div class="modal-body">
       
        

        <table class="table table-condensed" id="contacts">
          
          <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
               
                
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>Name</th>
                <th>Email</th>
               
                
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td><input type="checkbox" data-email="tiger.nixon@mail.com" class="email_from_contacts"> Tiger Nixon</td>
                <td>tiger.nixon@mail.com</td>
                
               
            </tr>
            <% @@contact.each do |contact| %>
            <tr>
              <td><input type="checkbox" data-email=<%= contact["Email"] %> class="email_from_contacts"> <%= contact["Name"] %></td>
                <td><%= contact["Email"] %></td>
            </tr>
            <% end %>
          </tbody>

        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" data-toggle="modal" data-target="#myModal" id="add_recipient">Add</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal add recipient -->



