<!-- Page Content -->
<div class="wrap">
    <div class="container-fluid">
       <div class="row">
       	            <div class="col-lg-12">
								<h1>Search Results for Mail</h1>
        <table class="table table-condensed">
		  <thead>
		    <tr>
		      <th></th>
		      <th>Sender</th>
		      <th>Title</th>
		      <th>Date</th>
		    </tr>
		  </thead>
		  
		  <tbody>
		    
		    <tr>
		      <td></td>
		      <td></td>
		      <td></td>
		    </tr>
		      <% @dummy_mail.each_with_index do |mail,i| %>
		      <%if i == 2 %>
		        <tr class="read-mail" data-mail-index=<%="#{i}"%>>
		      <td>
		      </td>
		      <td>
		      <a href="#"  data-mail-index=<%="#{i}"%> class="message_view" data-toggle="modal" data-target="#modalMessage"><%= mail["Sender"] %></a>
		      </td>
		      <td>
		        
		        <div class="col-md-10 inside_table">
		          <a href="#" data-mail-index=<%="#{i}"%> class="message_view" data-toggle="modal" data-target="#modalMessage" ><%= mail["Title"] %><small> - <%= mail["Excerpt"] %></small></a>
		        </div>
		        <div class="col-md-2">
		          <% if mail["Attachment"] != "" %>
		          <i class="fa fa-paperclip"></i>
		          <% end %>
		          
		        </div>
		          
		      </td>
		      <td>
		      	<%= mail["Date"] %>
		      </td>
		    </tr>
		     
		    <% end %>

		    <% end %>

		   

		  </tbody>
		  
		</table>
	</div>
		</div>
    </div>
</div>
<!-- /#page-content-wrapper -->

<%= erb :modal_message %>